setuptools>=65.5.1
wheel
pandas==2.0.3    # Specify the exact version (or omit version for latest)
streamlit==1.25.0  # Include streamlit if you are using it
numpy==1.25.0      # If needed for numerical computations
scikit-learn==1.3.1  # If you're using machine learning models
